.main_container {

    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 300px;


}

.form-container {

    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.submit_button {
    width: 300px;
    background-color: green;
    border: none;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-left: 125px;
    padding-top: 8px;

}

.heading {
    color: green;
    text-align: center;
    margin-top: 20px;

    margin-bottom: 20px;
}